:root {
    --branco: #FAFAFA;
    --branco-hover: #e4e4e4;
    --preto: #19191B; 
    --cinza: #999999;
    --sombra: #ececec;
    --amarelo: #FFD145; /*FFD145*/
    --amarelo-hover: hsl(45, 100%, 54%);
    --bg-servicos: #f3d886;
    --bg-botao-voltar: #d1d1d1; 
    --bg-botao-voltar-hover: #afafaf; 
    --borda-input-focus: #525252;
}

html{
    background: var(--branco);
    color: var(--preto);
}
.botao {
    background: var(--amarelo);
    color: var(--preto);
    text-decoration: none;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background 100ms;
    font-size: 1rem;
}
.botao:hover{
    background: var(--amarelo-hover);
}
img{
    max-width: 100%;
}
a {
    color: currentColor;
    text-decoration: none;
    transition: color 100ms;
}
body {
    background: var(--branco);
    overflow-x: hidden;
}
.maxWidth {
    max-width: 932px;
    margin: auto;
    padding: 0 2rem;
}
section {
    margin-bottom: 4rem;
}
main {
    padding-top: 4rem;
}

/***************HEADER*****************/
header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem !important;
    position: fixed;
    min-width: 100vw;
    background: var(--branco);
    z-index: 100;
}
#sidebar {
    position: fixed;
    z-index: 10000;
    top:0;
    right: -100%;
    height: 100vh;
    width: 300px;
    background: var(--branco);
    box-shadow: -2px 0 4px var(--sombra);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 200ms ease;
}
#sidebar.aberta {
    right: 0;
    transition: right 200ms ease;
}
#fechar-sidebar{
    position: absolute;
    top: 16px;
    right: 16px;
}
#abrir-sidebar{
    font-size: 2rem;
}
button {
    border: none;
    background: none;
    color: var(--preto);
    font-size: 1.5rem;
}

.accordion-sem-seta.accordion-button::after{
    visibility: hidden;
}
.accordion-body, .accordion ul{
    padding: 0;
}
.accordion li {
    list-style-type: none;
    line-height: 2.5rem;
    margin-top: 0.25rem;
    padding: 0rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--branco);
    transition: background-color 100ms;

}
.accordion li:hover {
    background-color: var(--branco-hover);
}

.accordion-item, .accordion-header,
.accordion-button, .accordion-button:not(.collapsed),
.accordion-button:focus  {
    background-color: var(--branco);
    width: 260px;
    border:none;
    box-shadow: none;
    color: var(--preto);
    font-weight: normal;

}
.accordion-header, .accordion-button,
.accordion-button:not(.collapsed), .accordion-button:focus {
    background: var(--bg-botao-voltar);
    cursor: pointer;
    border-radius: 0.5rem;
    margin-top: 1rem;
}
.accordion-header:hover, .accordion-button:hover,
.accordion-button:not(.collapsed):hover{
    background: var(--bg-botao-voltar-hover);
}

/**********LISTAGEM CARDS********/
.promocoes-wrapper, .populares-wrapper {
    margin: 2rem 0;
    display: flex;
    overflow-x: auto;
    gap: 2rem;
}
.populares-wrapper{
    flex-wrap: wrap;
}
.pacote-card{
    width: 180px;
    background: var(--branco);
    padding: 1rem;
    border-radius: 0.5rem;
    transition: background 200ms;
}
.promocoes-wrapper .pacote-card {
    min-width: 240px;
}
.pacote-card:hover{
    background: var(--sombra);
}
.pacote-card-desc {
    padding: 1rem 0;
    display: flex;
    flex-direction: column;
}
.pacote-card-desc .card-botao {
    align-self: center;
}
.pacote-card .card-titulo {
    height: 3rem;
    overflow: hidden; /*TODO testar/arrumar text truncate*/
}

.card-preco {
    display: flex;
    align-items: center;
    gap: 0.5rem
}
.card-preco-normal {
    color: var(--cinza);
    text-decoration: line-through;
    font-size: 0.75rem;
}
.img-container {
    position: relative;
}
.bookmark-icon {
    position: absolute;
    right: 1rem;
    transform: scale(1.1);
    overflow: visible;
    stroke: var(--preto);
    stroke-width: 2px;
    fill: var(--preto);
    fill-opacity: 0;
    transition: fill-opacity 100ms;
    cursor: pointer;
}
.bookmark-icon:hover {
    fill-opacity: 0.5;
}
.bookmark-icon.salvo {
    fill: var(--preto);
    fill-opacity: 1;
}

/*FOOTER*/
footer {
    background: var(--preto);
    color: var(--branco);
}
.footer-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}
.footer-wrapper a:hover{
    color: var(--cinza);
}

/**BOTAO VOLTAR*/
#voltar-topo {
    position: fixed;
    bottom: 4rem;
    right: 2rem;
    z-index: 10;
    font-size: 1rem;
    background: var(--bg-botao-voltar);
    border-radius: 4px;
    padding: 0.25rem 0.75rem;
    opacity: 0;
    transition: all 200ms;
}
#voltar-topo:hover{
    background: var(--bg-botao-voltar-hover);
}
#voltar-topo.visivel {
    opacity: 1;
    bottom: 6rem;
}

/*DIALOG DETALHES*/
#detalhes-dialog {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    top: 100%;
    left:0;
    z-index: 15;
    transition: top 150ms;
    border: 1px solid var(--cinza);
    border-radius: 0.5rem;
    box-shadow: 0px 0px 0.25rem var(--cinza);
}
#detalhes-dialog[open]{
    top: 15%;
    transition: top 150ms;
}
body:has(#detalhes-dialog[open]) main, body:has(#detalhes-dialog[open]) header{
    filter: blur(1px);
}
#detalhes-dialog .botao {
    align-self: center;
}
.detalhes-voltar {
    display: flex;
    gap: 1rem;
    align-items: center;
    cursor: pointer;
}
.detalhes-voltar p {
    margin-bottom: 0;
}
.detalhes-voltar i{
    font-size: 1.5rem;
}